#root {
  height: 100vh;
  width: 100vw;
  font-family: "Lemonada", cursive;
}

#loginForm {
  margin-top: 40px;
}

#outlined-basic {
  width: 450px;
}
#formHeader {
  margin-top: 100px;
  text-align: center;
}

.formDisplay img {
  text-align: center;
  margin-top: 120px;
  z-index: 1;
  box-shadow: navy;
}
#MainDiv {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#loginMainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 700px;
}
#left-login {
  margin-top: 50px;
  background-image: url("./images/Picture1.png");
  background-image: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 600px;
}
#MainDiv h1 {
  color: gold;
  text-align: center;
  text-shadow: 2px white;
}
#MainDiv p {
  color: gold;
  text-align: center;
}
#right-login {
  width: 600px;
}
#inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#postMessageDiv {
  background-color: #fdf6e4;
  margin-top: 40px;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  box-shadow: inset 0px 5px 25px 5px black, 5px 5px 12px 2px #dba800;
  text-align: center;
}
#navToggle {
  color: black;
}
#navUserButton {
}

.navbar {
  background: maroon !important;
  opacity: 1 !important;
  box-shadow: inset 3px 5px 25px 5px black, 5px 5px 12px 2px #dba800;
}
.root {
  background-color: thistle;
}
/* .container {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
} */
.houseImage {
  width: 200px;
  height: 200px;
}
#houseImgDiv {
  /* display: flex;
  justify-content: center; */
  /* opacity: 0;
  animation-name: fadeIn;
  animation-delay: 4s;
  animation-duration: 10s;
  z-index: 1;  */
  height: 250px;
  width: 200px;
  margin-left: 30px;
}
#dashMainDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url(https://i.pinimg.com/originals/c7/43/7c/c7437c4df477068410ce0447bd1d5da7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
#dashInfoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#logoutButton {
  width: 90px;
  background-color: grey;
  margin-left: 210px;
  margin-top: 50px;
}
#dashboardBackground {
  height: 100vh;
  width: 100vw;
  /* background: url(https://i.pinimg.com/originals/c7/43/7c/c7437c4df477068410ce0447bd1d5da7.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

#welcomeBanner {
  display: flex;
  flex-direction: row;

  margin-top: 50px;
}
#welcomeBanner h1 {
  margin-top: 25px;
}
#houseSpan1 {
  opacity: 0;
  color: black;
  animation-name: fadeInOut;
  animation-delay: 1s;
  animation-duration: 9s;
}

#houseSpan2 {
  opacity: 0;
  color: black;
  animation-name: fadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
}

#hiddenMenu {
  background-color: gold;
}
#uploadDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
#navProfileImg {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
#userImg {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
#userProfileImg {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
#userProfileDiv {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fdf6e4;
  box-shadow: inset 0px 5px 25px 5px black, 5px 5px 12px 2px #dba800;

  margin-top: 50px;
}
#userInfoProfile {
  margin-top: 10px;
  text-align: center;
  font-family: "Lemonada", cursive;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
